
:root {
    --title-color: rgb(197, 10, 72);
    --standart-bg: rgb(0, 0, 0);
    --text-color: rgb(28, 253, 215);
}

body {
    background-image: url(img/giygasTest.gif);
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0px;
}

main {
    text-align: center;
    max-width: 90%;
}

* {
    margin: 0;
    padding: 0;
}

.big-guys {
    margin-top: 50vh;
}

.titulo {
    font-family: "Knewave", sans-serif;
    background-color: var(--standart-bg);
    color: var(--title-color);
    font-size: 100px;
    margin-top: 400vh;
    margin-bottom: 50px;
    align-items: center;
}

.big-image {
    max-width: 100%;
    margin-bottom: 30vh;
    border: 2px solid var(--title-color);
}

.secundario__imagem {
    width: 80%;
    border: 2px solid var(--title-color);
}

.secundario {
    height: 75vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--title-color);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--text-color);
    justify-content: start;
}

.container__descricao{
    padding: 7.5em;
}
